*{
  box-sizing: border-box;
}


.float-right{
  float: right;
  width: 40%;
  height: auto;
}

.project-one, .project-two, .project-three, .project-four{
  display:inline-block;
}

.screenshot{
  width: 25%;
  float: left;
}