*{
  box-sizing: border-box;
}
.navbar{
  background-color: black;
  padding: 30px;
  border-radius: none;
}

.navbar a{
  color: white;
  padding: 30px;
  font-size: 20px;
}

.jumbotron{
  background-color: #0c4271 !important;
  padding: 30px;
}

.colorChange{
  color: white;
}
.section-one{
 font-size: 30px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 height: 80vh;
 padding: 30px;
}

.float-right{
  float: right;
  width: 40%;
  height: auto;
}
.project-list{
  padding: 10px;
  font-size: large;
  background-color: rgb(10, 129, 171);
  
}

.project-list p{
  padding: 50px;
  color: black;
}

.project-list h2{
  color: white;
  text-decoration: underline;
  text-transform: capitalize;

}

.project-list a{
  color: white;
}



.project-one, .project-two, .project-three, .project-four{
  display:inline-flex;
  padding: 15px;
  margin: 15px;
}

.screenshot{
  width: 25%;
  float: left;
}

.container-fluid{
  padding: 20px;
}
.container-fluid p, li{
font-size: 22px;
padding: 5px;
color: white;
}

.container-fluid h2, h3{
font-size: 35px;
color: white !important;
text-decoration: underline;
text-transform: capitalize;
}

.container-fluid{
background-color: #0c4271;
}

.page-footer{
  border-radius: none;
  background-color: black;
  padding: 30px;
  color: white;
  text-align: center;
}