*{
  box-sizing: border-box;
}


.navbar{
  background-color: black;
  padding: 30px;
  border-radius: none;
}

.navbar a{
  color: white;
  padding: 30px;
  font-size: 20px;
}

.jumbotron{
  background-color: #0c4271 !important;
}

.colorChange{
  color: white;
}
.section-one{
 font-size: 30px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 height: 80vh;
}

.float-right{
  float: right;
  width: 40%;
  height: auto;
}


.project-one, .project-two, .project-three, .project-four{
  display:inline-block;
}

.screenshot{
  width: 25%;
  float: left;
}
